.navbar {
	display: flex;
	justify-content: space-between;
}
.logo {
	margin: 30px 74px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

.about_us {
	margin: 30px 80px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1rem;
}
